<h2>Please re-confirm your FourSquare account by clicking below</h2>

<a href="https://foursquare.com/oauth2/access_token?client_id=NVB2TLBGE5SWYUNIPL3NWDB1S3ICQW1IIKD0W4CBTKLFCTRE&client_secret=HV4WHKBBXARKI0SXYKJ0GSG5XEYWMKX2CDJZQU53NI10TOLG&grant_type=authorization_code&redirect_uri=http://localhost:3000&code=">
	<button id="final-foursq-auth">Verify your FourSquare Account Here</button>
</a>
