<h2>Thank you for confirming your FourSquare account with us.</h2>

<h3>Thanks for signing up!!! Click below to log in...</h3>
<a href="http://thawing-headland-7058.herokuapp.com/sessions/new"
	<button>Check It Out Brough Login...</button>
</a>

