<h2>Thank you for confirming your FourSquare account with us.</h2>

<h3>You can return to the homepage by clicking the button below</h3>
<a href="http://localhost:3000/users/" + <% current_user.id %>  >
	<button>Check It Brough Home</button>
</a>

